body {
  background-color: rgb(141, 191, 243);
}

.playlist {
  position: absolute;
  left: 50%;
}

.cloud {
  position: absolute;
  left: 50%;
  top: 88.5%;
  transform: translate(-50%, -50%);
  background-color:rgb(141, 191, 243);
}

.tv {
  position: absolute;
  left: 50%;
  top: 32.8%;
  transform: translate(-50%, -50%);
  height: 625px;
  width: 741px;
}

.kirby {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 638px;
}

.great {
  position: absolute;
  left: 46%;
  top: 86%;
  transform: translate(-50%, -50%);
  color: rgb(141, 191, 243);
  font-weight: bold;
  animation: fadeIn 600s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.5;}
}

.ily {
  position: absolute;
  left: 74%;
  top: 90%;
  transform: translate(-50%, -50%);
  color: rgb(141, 191, 243);
  font-weight: bold;
  animation: fadeIn 6000s;
}